// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.app-button--blue {
	background-color: govuk-colour("blue");
}
  	
  	&:hover {
    background-color: $govuk-link-hover-colour;
    color: $govuk-text-colour;

}

.app-button--grey {
	background-color: govuk-colour("grey-3");
	color: $govuk-text-colour;
}

.app-button--secondary {
  background-color: govuk-colour('grey-3');
  box-shadow: 0 2px 0 govuk-colour('grey-2');
  color: $govuk-text-colour;
}
  &:focus,
  &:hover {
    background-color: govuk-colour('grey-2');
    color: $govuk-text-colour;
  }
}